@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    font-family: 'Montserrat';
    background-color: #5e8b7e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-family: 'Permanent Marker', 'sans-serif';
    font-size: 2.5em;
    padding-top: 1em;
    text-decoration: underline;
}

.song-container {
    display: flex;
    width: 40em;
    height: 50em;
    background-color: white;
    box-shadow: 10px 10px 8px #2f5d62;
    justify-content: center;
    margin-right: 5em;
}

.tools-container{
    display: flex;
    flex-direction: column;
}







/* metronome */
.metronome {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    box-shadow: 10px 10px 8px #2f5d62;
    height: 20em;
    width: 30em;
    margin-bottom: 2em;
}

.tempo-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tempo-text{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;

}

.tempo{
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.metronome-settings{
    display: flex;
    justify-content: space-evenly;
}

.metronome button{
    width: 4em;
    height: 2.5em;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

.start-stop {
    display: flex;
    justify-content: space-evenly;
}


.tempo-slider{
    width: 60%;
}











.chord-builder{
    display:flex;
    justify-content: center;
    border: 3px solid black;
    background-color: white;
    box-shadow: 10px 10px 8px #2f5d62;
    height: 20em;
}
