@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body{
    background-color: #bdd2b6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-family: 'Permanent Marker', 'sans-serif';
    font-size: 2.5em;
    padding-top: 1em;
    text-decoration: underline;
}

.song-container {
    display: flex;
    width: 40em;
    height: 50em;
    background-color: white;
    box-shadow: 10px 10px 8px #888888;
    justify-content: center;
    margin-right: 5em;
}

.tools-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.metronome {
    display:flex;
    justify-content: center;
    border: 3px solid black;
    background-color: white;
    box-shadow: 10px 10px 8px #888888;
    height: 20em;
    width: 30em;
    margin-bottom: 2em;
}

.chord-builder{
    display:flex;
    justify-content: center;
    border: 3px solid black;
    background-color: white;
    box-shadow: 10px 10px 8px #888888;
    height: 20em;
}
