.nav-header-container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
height: 20%;
}

.nav-header{
    font-size: 4vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40%;
    width: 60%;
    border: 3px solid white;
}


.closed{
    width: 0;
    transform: translateX(-1000px);
    transition: transform 500ms;
}

.open{
    height: 100vh;
    background-color: black;
    color: white;
    width: 15%;
    transform: translateX(0px);
    transition: transform 200ms;
}

.hamburger-button{
    font-size: 4vh;
    color: white;
    float: right;
    margin-top: 1.5%;
    margin-left: 1.5%;
}

.hamburger-button:hover{
    cursor: pointer;
}

.song-list-header{
    display: flex;
    justify-content: center;
    align-items: center;

}

.song-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50%;
}

.song-list {
    text-align: center;
}

.song-list > li {
    text-align: center;
}

.song-list > li:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.user-login-field {
    width: 80%;
}