/* song */

.hide {
    display:none
}

.song-header{
    height: 12%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.song-title{
    font-size: 4vh;
    height: 50%;
    width: 80%;
    border: 0;
    text-align: center;
    padding: 0;
    margin: 0
}

.author{
    font-size: 2vh;

    height: 40%;
    width: 80%;
    border: 0;
    text-align: center;
    padding: 0;
    margin: 0
}


.time-signature {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    grid-area: ts;
    font-size: 1.5em;
    text-decoration: none;
}

.measures-container {
    height: 80%;
    width: 100%;
    display: grid;
    grid-template-columns: 6% 20% 20% 20% 20% 6%;
    grid-template-rows: 12% 12% 12% 12% 12% 12% 12% 12%;
    column-gap: 1.5%;
    row-gap: 1.5%;
    grid-template-areas: 
        "ts m1 m2 m3 m4 ."
        ". m5 m6 m7 m8 ."
        ". m9 m10 m11 m12 ."
        ". m13 m14 m15 m16 ."
        ". m17 m18 m19 m20 ."
        ". m21 m22 m23 m24 ."
        ". m25 m26 m27 m28 ."
        ". m29 m30 m31 m32 ."
    ;
}

#song-save, #song-delete {
    height: 80%;
    width: auto;
    margin: 2%
}

.buttons-container {
    display: flex;
    justify-content: center;
    height: 8%;
    align-items: center;
}
