/* song */


.song-header{
    height: 12.5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.song-title{
    font-size: 5vh;
    
}

.author{
    font-size: 3vh;
    
}
.time-signature {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    grid-area: ts;
    font-size: 1.5em;
    text-decoration: none;
}

.measures-container {
    height: 80%;
    display: grid;
    grid-template-columns: 7% 20% 20% 20% 20% 7%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    column-gap: 1.5%;
    row-gap: 1.5%;
    grid-template-areas: 
        "ts m1 m2 m3 m4 ."
        ". m5 m6 m7 m8 ."
        ". m9 m10 m11 m12 ."
        ". m13 m14 m15 m16 ."
        ". m17 m18 m19 m20 ."
        ". m21 m22 m23 m24 ."
        ". m25 m26 m27 m28 ."
        ". m29 m30 m31 m32 ."
        " . . save delete . ."
    ;
}

.song-save {
    grid-area: save;
}

.song-delete {
    grid-area: delete;
}
